# Python
__pycache__/
*.pyc
*.pyo
.env
.env.production
*.sqlite3
instance/
.venv/

# VS Code
.vscode/

# Flask/Logs
*.log

# Uploads
static/uploads/*
!static/uploads/.gitkeep

# Secrets / API keys
_api_keys_and_tokens_.txt

# One-off scripts
tmp_*.py
